prose-mirror {
    &.inactive {
        .editor-container {
            background: var(--color-cool-4);
            border-radius: 4px;
        }
    }

    &.active {
        .editor-container {
            background: var(--color-cool-4);
            border-radius: 4px;
        }
    }
}