.effects .item {

  .effect-source,
  .effect-duration,
  .effect-controls {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }

  .effect-controls {
    border: none;
  }
}


.pta-effect-list {
  .pta-effect-list-header {
    .pta-effect-name {
      padding-left: 30px;
    }
  }

  .pta-effect-list-header-name {}

  .pta-effect-name {
    flex: 2;
    display: flex;
    flex-direction: row;

    .pta-effect-image {
      flex: 0 0 30px;
      margin-right: 0.3rem;
    }
  }

  .pta-effect-duration {
    flex: 1;
    text-align: center;
  }

  .pta-effect-source {
    flex: 1;
    text-align: center;
  }

  .pta-effect-controls {
    flex: 0 0 2rem;
  }

  .pta-effect-list-header-control {}

  .pta-effect {}
}