@use '../module' as *;

//=============================================================================================
//> New item list format!
//=============================================================================================
$pta-border-radius: 5px;

// widths for item details
$pta-move-detail-type: 5em;
$pta-move-detail-class: 5em;
$pta-move-detail-damage: 5em;

$pta-button-size: 30px;

.pta-item-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  box-shadow: 0 0 5px black;

  // Defines the block at the top of the item list
  .pta-item-list-header {
    border-radius: $pta-border-radius $pta-border-radius 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 1.5em;
    font-size: 1rem;
    align-items: center;
    margin: 0;
    background: linear-gradient(to left, #631f1f, #8e2b2b);

    .pta-header-name {
      flex: 2;
      text-align: left;
      display: flex;
      flex-direction: row;
    }
  }

  .collapsed {
    .pta-item-list-header {
      border-radius: $pta-border-radius;
    }
  }

  // identifier for the collapsible wrapper holding all the items
  .pta-item-entries {
    list-style: none;
    padding: 0;
    margin: 0;

    :last-child {
      border-radius: 0 0 $pta-border-radius $pta-border-radius;
    }
  }

  // items identity, far left side of the row
  .pta-item-name {
    font-size: 1rem;
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;

    .pta-item-image {
      flex: 0 0 30px;
      height: 30px;
      background-size: 30px;
      border: none;
      margin: 0 0.3rem;
    }
  }

  .pta-item {
    border-top: 1px solid rgb(224, 242, 255);
    display: flex;
    flex-direction: column;
    margin: 0;

    background: linear-gradient(to right, #7c7c7c, #616161);
    transition: background-color 0.3s;

    &:hover {
      background: linear-gradient(to right, #8b8b8b, #707070);
    }

    .pta-item-details {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex: 0;
    }

    .pta-item-description {
      padding: 0 0.5em;
    }
  }

  // list of controls in the item bar on the far right side
  .pta-item-controls {
    flex: 0 1 $pta-button-size;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
  }

  // different item type details are stored here, they're best served with matching headers to keep collumns aligned
}

//=============================================================================================
//> Item detail variables
//=============================================================================================
.pta-item-detail,
.pta-header-detail {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-wrap: nowrap;
  text-align: center;
  text-overflow: ellipsis;

  align-items: center;
  justify-content: center;

  &.pta-item-quantity {
    flex: 0 0 calc($pta-button-size * 3);

    button {
      flex: 0 0 $pta-button-size;
    }
  }

  &.pta-equip-state {
    flex: 0 0 calc($pta-button-size * 3);
  }

  &.pta-damage {
    flex: 2 0;
  }

  &.pta-category,
  &.pta-move-uses,
  &.pta-type-tag {
    flex: 0 0 100px;
  }
}