{{!-- data-application-parts="features" --}}
<div class="pta-tab">
    <div class="flexrow flex-align-start">
        <div data-application-part="abilities"></div>
        {{> 'pta.actor-skills'}}
    </div>
</div>