{{!-- data-application-parts="features" --}}
<div class="pta-tab">
    <div class="flexrow flex-align-start">
        <div class="flex0">{{> 'pta.actor-ability-scores'}}</div>
        {{> 'pta.actor-skills'}}
    </div>
</div>