<div class="pta-tab">
    <div class="flexcol flex">
        {{#each itemTypes}}
            {{#if (not (eq (arrayLength this) 0) )}}
                <ol class="pta-inventory items-list collapsible">
                    <li class="items-header flexrow">
                        <span class="item-name flexrow flex-gap-m">
                            <a class="fas fa-carret-down" data-action="collapse"></a>
                            <span>{{@key}}</span>
                        </span>
                        <span>Controls</span>
                        <div class="item-controls flex0">
                            <a data-action="itemSort" class="pta-control fa-solid fa-sort" title="PTA.Button.Sort"></a>
                        </div>
                    </li>
                    <div class="collapsible-content">
                        <div class="wrapper">
                            {{#each this as | item |}}
                                {{> "pta.list-item" item=item isEditMode=../isEditMode isPlayMode=../isPlayMode}}
                            {{/each}}
                        </div>
                    </div>
                </ol>
            {{/if}}
        {{/each}}
    </div>
</div>