<div class="pta-tab pta-pokemon-tab">
    <div class="flexrow flex-gap-s flex-align-start" style="height: 100%;">
        {{> 'pta.trainer-pokemon-team'}}
        {{> 'pta.trainer-pokemon-box'}}
    </div>
</div>