<div class="pta-tab pta-companion-tab">
    <div class="flexrow flex-gap-l flex-align-start" style="height: 100%;">
        {{> 'pta.trainer-pokemon-team'}}
        {{> 'pta.trainer-pokemon-box'}}
    </div>
</div>