@use 'colours' as *;
@use 'typography' as *;

$padding-s: 4px;
$padding-m: 8px;
$padding-l: 12px;

$border-groove: 2px groove #eeede0;

$margin-xs: 6px;
$margin-s: 12px;
$margin-m: 18px;
$margin-l: 24px;
$margin-xl: 30px;

$pokemon-stats: 'atk',
    'def',
    'satk',
    'sdef',
    'spd';

$pokemon-types: 'normal',
    'fire',
    'water',
    'electric',
    'grass',
    'ice',
    'fighting',
    'poison',
    'ground',
    'flying',
    'psychic',
    'bug',
    'rock',
    'ghost',
    'dragon',
    'dark',
    'steel',
    'fairy';

:root {
    --pta-scale-px: 8px;
}