<div class="flexrow" style="gap: 1rem;">
    <div style="text-align: center;">
        <label>{{localize "PTA.Button.Local"}}</label>
        <button type="button" data-action="local" style="text-align: center; width: 100px; height: 100px;">
            <i style="font-size: 3em;" class="fas fa-folder"></i>
        </button>
    </div>
    <div style="text-align: center;">
        <label>{{localize "PTA.Button.Online"}}</label>
        <button type="button" data-action="online" style="text-align: center; width: 100px; height: 100px;">
            <i style="font-size: 3em;" class="fas fa-wifi"></i>
        </button>
    </div>
</div>