<div class="pta-pc-layout-grid pta-s">
    {{#each pokemon as |pokemon key|}}
        {{#if (not pokemon.active)}}
            <div class="pta-grid-item flex-align-start" data-pokemon-uuid="{{pokemon.uuid}}" data-uuid="{{pokemon.uuid}}" data-action="selectElement">
                <span style="display: inline-block;">
                    <div class="wrapper" style="background-image: url({{pokemon.img}});">

                    </div>
                </span>
                <span class="controls">
                    <div class="flexcol flex-gap-s flex-align-center">
                        <a class="item-control" data-action="edit" title="PTA.TitleHint.edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="item-control" data-action="pokemonBox" title="PTA.TitleHint.Box">
                            <i class="fas fa-box-open"></i>
                        </a>
                        <a class="item-control" data-action="pokemonRemove" title="PTA.TitleHint.Delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </span>
            </div>
        {{/if}}
    {{/each}}
</div>