{{!-- Storage box
    3 different display modes:
    - List
    - Detailed
    - Grid
--}}
<div class="flexcol pta-pokebox" style="flex: 2; height: 100%">
    {{!-- Box header --}}
    <div class="collapsible collapsed pta-pokebox-header">
        <div class="flexrow items-header">
            <div class="item-name">Pokemon Box</div>
            <div class="flexrow flex-group-end flex-gap-m text-right" style="padding-right: 0.5em;">
                <a class="flex0" data-action="pcLayout" data-layout="card"><i class="fas fa-address-card"></i></a>
                <a class="flex0" data-action="pcLayout" data-layout="list"><i class="fas fa-list"></i></a>
                <a class="flex0" data-action="pcLayout" data-layout="grid"><i class="fas fa-grid-2"></i></a>
                <a class="flex0" data-action="collapse"><i class="fas fa-magnifying-glass"></i></a>
            </div>
        </div>

        {{!-- Search Bar --}}
        <div class="pta-trainer-pc-search collapsible-content flex-gap-s">
            <div class="wrapper">
                <div class="flexcol flex-gap-s">
                    <input data-query="name" type="text" placeholder="name search here">
                    <div class="flexrow flex-gap-m">
                        <div class="flexshrink">Types</div>
                        {{pokemonTypeSelector}}
                        {{pokemonTypeSelector}}
                    </div>
                    <div class="flexrow flex-gap-m">
                        <div>Shiny <input data-query="shiny" type="checkbox"></div>
                        <div>Male <input data-query="male" type="checkbox"></div>
                        <div>Female <input data-query="female" type="checkbox"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- List of pokemon in the trainers box --}}
    <div class="pta-pokebox-entries">
        {{#if (eq flags.settings.pcLayout 'grid')}}
            {{> 'pta.trainer-pc-grid'}}
        {{else if (eq flags.settings.pcLayout 'card')}}
            {{> 'pta.trainer-pc-cards'}}
        {{else}}
            {{> 'pta.trainer-pc-list'}}
        {{/if}}
    </div>
</div>