<div class="flexcol flex-gap-m">
    {{systemFieldGroup system 'quantity' label='Quantity'}}
    {{systemFieldGroup system 'capture.base' label='Capture'}}
    {{systemFieldGroup system 'capture.conditional' label='Bonus'}}
</div>