<div class="flexcol flex-gap-m">
    <div class="flexrow flex-gap-s">
        <div><a data-action="editAttack" class="fas fa-cog"></a> Attack:</div>
    </div>
    <div class="flexrow flex-gap-s">
        <div><a data-action="editAttack" class="fas fa-cog"></a> Damage:</div>
    </div>
    <div class="flexrow flex-gap-s">
        <div><a data-action="editAttack" class="fas fa-cog"></a> Dodge:</div>
    </div>
    <div class="flexrow flex-gap-s">
        <div><a data-action="editAttack" class="fas fa-cog"></a> Defence:</div>
    </div>
</div>