{{!-- data-application-parts="features" --}}
<div class="pta-tab">
    <div class="flexcol flex-gap-l">
        <div class="flex">{{> 'pta.actor-ability-scores'}}</div>
        <div class="flex flexcol flex-gap-l">
            {{> 'pta.actor-skills'}}
        </div>
    </div>
</div>