.pta {

  // Flexbox.
  .flex-group-center,
  .flex-group-end {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .flex-group-start {
    justify-content: flex-start;
    text-align: left;
  }

  .flex-group-end {
    justify-content: flex-end;
    text-align: right;
  }

  .flexshrink {
    flex: 0;
  }

  .flex-between {
    justify-content: space-between;
  }

  .flexlarge {
    flex: 2;
  }

  // Alignment styles.
  .flex-align-start {
    align-items: flex-start;
    text-align: left;
  }

  .flex-align-end {
    align-items: flex-end;
    text-align: right;
  }

  .flex-align-center {
    align-items: center;
    text-align: center;
  }

  .flex-gap-s {
    gap: 4px;
  }

  .flex-gap-m {
    gap: 8px;
  }

  .flex-gap-l {
    gap: 12px;
  }

  .flex-overflow {
    flex-wrap: wrap;
  }
}