.rollable {

  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

[data-action] {
  cursor: pointer;

  * {
    cursor: inherit;
  }
}

.nodisplay {
  display: none;

  * {
    display: none;
  }
}

.obliterated {
  display: none !important;
  * {
    display: none !important;
  }
}