<div class="pta-tab-wrapper" style="flex: 1; overflow: auto;">
    {{#each tabs}}
        <div class="{{tabCssClass}}" data-group="{{group}}" data-tab="{{id}}">
            <div class="tab-content" data-application-part="{{id}}">

            </div>
        </div>
    {{/each}}
</div>