<div class="pta-tab">
  <div class="pta-rune-lists pta-item-list pta-{{@key}}-list flex-gap-l" data-list="{{@key}}">
    {{!-- Active runes --}}
    <div class="pta-item-list">
      <div class="pta-item-list-header flexrow">
        <div class="pta-item-list-name flexrow flex-gap-m">
          <div>Active Runes</div>
        </div>
      </div>

      <ol class="pta-item-entries">
        {{#each itemTypes.rune as | item |}}
          {{#if item.system.equipped}}
            {{> "pta.list-item" item=item isEditMode=@root.isEditMode isPlayMode=@root.isPlayMode}}
          {{/if}}
        {{/each}}
      </ol>
    </div>

    {{!-- Inactive runes --}}
    <div class="pta-item-list">
      <div class="pta-item-list-header flexrow">
        <div class="pta-item-list-name flexrow flex-gap-m">
          <div>Inactive Runes</div>
        </div>
      </div>

      <ol class="pta-item-entries">
        {{#each itemTypes.rune as | item |}}
          {{#if (not item.system.equipped)}}
            {{> "pta.list-item" item=item isEditMode=@root.isEditMode isPlayMode=@root.isPlayMode}}
          {{/if}}
        {{/each}}
      </ol>

    </div>
  </div>
</div>