/* Import utilities */
@use 'module' as util;

/* Global styles */
@use 'global/window';
@use 'global/grid';
@use 'global/flex';

/* Components */
@use 'components/forms';
@use 'components/resource';
@use 'components/items';
@use 'components/effects';
@use 'components/editor';
@use 'components/pokemon';
@use 'components/progressBar';
@use 'components/abilities';
@use 'components/collapsible';
@use 'components/bookmarks';

/* Sheet specific styles */
@use 'sheets/actor';

/* Styles limited to rpta3 sheets */
.pta {

    // force our sheets to use the set font instead of foundrys very specific declarations
    input[type=text] {
        font-family: "DM Sans", serif;
        font-size: var(--pta-scale-rem);
    }

    input[types=checkbox] {
        background: none;
    }

    select {
        font-family: "DM Sans", serif;
        font-size: var(--pta-scale-rem);
    }

    .tab.active {
        height: 100%;
    }

    .pta-sheet-body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .pta-tab {
        height: 100%;
        width: 100%;
        min-height: 300px;
        padding: 2px;
    }

    .pta-tab[data-application-part=features] {
        [data-application-part=abilities] {
            flex: 0;
        }
    }

    //=====================================================================================================
    //> Remote server browser
    //=====================================================================================================
    .remote-image-browser {
        .sprite-gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 6px;
            overflow: auto;

            .sprite-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
            }

            .sprite {
                object-fit: contain;
                margin: auto;
                border: none;
                image-rendering: pixelated;
            }
        }
    }
}