<div class="pta-sheet-body">
    <header class="sheet-header flexrow">
        <img src="{{document.img}}" data-action="editImage" title="item image" height="90" width="90">
        <h1 class="pta-l charname">
            <input name="name" type="text" placeholder="name" value="{{document.name}}">
        </h1>
    </header>
    {{> "pta.tabs-nav"}}
    {{> "pta.tabs-content"}}
</div>