<div class="flexcol flex-gap-m">
    {{!-- Damage Category, and damage formula. uneditable formula --}}
    {{!-- Bonuses to the damage formula --}}
    {{!-- Elemental type for the attack --}}
    {{!-- Effectivness Override --}}
    {{!-- List of targets to include, click to toggle their inclusion --}}
</div>