<div class="flexcol flex-gap-m">
    <p>{{localize 'PTA.Dialog.UseItem'}}: {{item.name}}</p>
    {{!-- Throw accuracy --}}
    <div class="form-group">
        <label>{{localize 'PTA.Generic.Accuracy'}}</label>
        <div class="form-fields">
            <input type="number" value="" placeholder="0" name="accuracy">
        </div>
    </div>
    {{!-- Capture roll modifier --}}
    <div class="form-group">
        <label>{{localize 'PTA.Generic.Capture'}}</label>
        <div class="form-fields">
            <input type="number" value="" placeholder="0" name="capture">
        </div>
    </div>
</div>